server:
  port: 8080

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/banking_app
    username: root
    password: 1234
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  profiles:
    active: dev